<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ACSE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ACSE.Properties.Settings>
            <setting name="DebuggingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageResizeMode" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DebugLevel" serializeAs="String">
                <value>Error</value>
            </setting>
            <setting name="OutputInt32s" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TownMapSize" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="AcreMapSize" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="ShowDumpAcreWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBetaAcreWarning" serializeAs="String">
                <value>True</value>
            </setting>
        </ACSE.Properties.Settings>
    </userSettings>
</configuration>