<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ACSE.ItemColorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ACSE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <ACSE.ItemColorSettings>
            <setting name="FurnitureColor" serializeAs="String">
                <value>3359432240</value>
            </setting>
            <setting name="GyroidColor" serializeAs="String">
                <value>3369370404</value>
            </setting>
            <setting name="DiaryColor" serializeAs="String">
                <value>3372155007</value>
            </setting>
            <setting name="ClothesColor" serializeAs="String">
                <value>3358094506</value>
            </setting>
            <setting name="SongColor" serializeAs="String">
                <value>3366251704</value>
            </setting>
            <setting name="PaperColor" serializeAs="String">
                <value>3366251752</value>
            </setting>
            <setting name="TrashColor" serializeAs="String">
                <value>3361041199</value>
            </setting>
            <setting name="ShellColor" serializeAs="String">
                <value>3372204235</value>
            </setting>
            <setting name="FruitColor" serializeAs="String">
                <value>3369967837</value>
            </setting>
            <setting name="TurnipColor" serializeAs="String">
                <value>3367742621</value>
            </setting>
            <setting name="CatchableColor" serializeAs="String">
                <value>3367691070</value>
            </setting>
            <setting name="QuestItemColor" serializeAs="String">
                <value>3367876459</value>
            </setting>
            <setting name="ItemColor" serializeAs="String">
                <value>3372197120</value>
            </setting>
            <setting name="RaffleTicketColor" serializeAs="String">
                <value>3357446399</value>
            </setting>
            <setting name="WallpaperCarpetColor" serializeAs="String">
                <value>3365486656</value>
            </setting>
            <setting name="FossilColor" serializeAs="String">
                <value>3360767279</value>
            </setting>
            <setting name="ToolColor" serializeAs="String">
                <value>3363930497</value>
            </setting>
            <setting name="TreeColor" serializeAs="String">
                <value>3364570387</value>
            </setting>
            <setting name="WeedColor" serializeAs="String">
                <value>3355475968</value>
            </setting>
            <setting name="FlowerColor" serializeAs="String">
                <value>3370936248</value>
            </setting>
            <setting name="RockColor" serializeAs="String">
                <value>3355443200</value>
            </setting>
            <setting name="MoneyRockColor" serializeAs="String">
                <value>3366137647</value>
            </setting>
            <setting name="SignboardColor" serializeAs="String">
                <value>3362140928</value>
            </setting>
            <setting name="MoneyColor" serializeAs="String">
                <value>3372220160</value>
            </setting>
            <setting name="HouseObjectColor" serializeAs="String">
                <value>3366295701</value>
            </setting>
            <setting name="BuildingColor" serializeAs="String">
                <value>4286019447</value>
            </setting>
            <setting name="ParchedFlowerColor" serializeAs="String">
                <value>3366151936</value>
            </setting>
            <setting name="WateredFlowerColor" serializeAs="String">
                <value>3355484320</value>
            </setting>
            <setting name="PatternColor" serializeAs="String">
                <value>3365509631</value>
            </setting>
            <setting name="WiltedFlowerColor" serializeAs="String">
                <value>3360509235</value>
            </setting>
            <setting name="OccupiedColor" serializeAs="String">
                <value>3717831065</value>
            </setting>
            <setting name="InvalidColor" serializeAs="String">
                <value>3372154880</value>
            </setting>
        </ACSE.ItemColorSettings>
        <ACSE.Properties.Settings>
            <setting name="DebuggingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageResizeMode" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DebugLevel" serializeAs="String">
                <value>Error</value>
            </setting>
            <setting name="OutputInt32s" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TownMapSize" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="AcreMapSize" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="ShowDumpAcreWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBetaAcreWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupFiles" serializeAs="String">
                <value>True</value>
            </setting>
        </ACSE.Properties.Settings>
    </userSettings>
</configuration>
